{% extends 'base.html' %}
{% block content %}
<!-- 用表格方式顯示，快，但無法改變逐一欄位 -->
<h1>Wiki Craw Data</h1>

<table class="table table-striped table-bordered table-hover">
    <thead table-dark>
      <tr>
        <th scope="#">序號</th>
        <th scope="">學校名稱</th>
        <th scope="">英文簡稱</th>
        <th scope="">起始年份(創校年份)</th>
        <th scope="">學校地址</th>
        <th scope="">校地(公頃)</th>
        <th scope="">網址</th>
      </tr>
    </thead>
    <tbody>
      {% if ticker %}
        {% for rows in output %}
          <tr>
            {% for rows_item in rows %}
                <td>{{rows_item}}</td>
            {% endfor %}
          </tr>
        {% endfor %}  
      {% endif %}
    </tbody>
  </table>

  {% endblock %}